
<section id="nr_slider" class="row">
    <div class="mainSliderContainer">
        <div class="mainSlider">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="boxslide" data-slotamount="7">
                    <img src="images/slider/slide1.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <div class="caption sfr str"
                         data-x="center"
                         data-y="140"
                         data-speed="700"
                         data-start="1700"
                         data-easing="easeOutBack">
                        <h2>We Are <strong>Construction</strong> Company</h2>
                    </div>
                    <div class="caption sfl stl"
                         data-x="center"
                         data-y="225"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <div class="cont-row">We are <span class="bb3">Construction</span> Company <span class="bb1">buildings</span></div>
                    </div>
                    <div class="caption skewfromleft skewtoleft"
                         data-x="center"
                         data-y="310"
                         data-hoffset="-176"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <div class="ico_box"><img src="images/slider/ico1.png" alt="brifcase"></div>
                    </div>
                    <div class="caption sfb stb"
                         data-x="center"
                         data-y="310"
                         data-hoffset="0"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <div class="ico_box"><img src="images/slider/ico2.png" alt="brifcase"></div>
                    </div>
                    <div class="caption skewfromright skewtoright"
                         data-x="center"
                         data-y="310"
                         data-hoffset="176"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <div class="ico_box"><img src="images/slider/ico3.png" alt="brifcase"></div>
                    </div>
                </li>
                <!-- SLIDE 2 -->
                <li data-transition="boxslide" data-slotamount="7">
                    <img src="images/slider/slide2.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <div class="caption sfr str"
                         data-x="-100"
                         data-y="135"
                         data-speed="700"
                         data-start="1700"
                         data-easing="easeOutBack">
                        <h3><strong>Flexible</strong> and Easy to Use</h3>
                    </div>
                    <div class="caption sfl stl"
                         data-x="-100"
                         data-y="190"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <h4>Ultra <strong>Construction</strong> Layout</h4>
                    </div>
                    <div class="caption skewfromleft skewtoleft"
                         data-x="-100"
                         data-y="265"
                         data-hoffset="-176"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravi-<br>da nibh vel velit auctor aliquet. Aenean solicitudin. lorem <br>quis bibendum auctor, nisi elit consequant.</p>
                    </div>
                    <div class="caption sfb stb"
                         data-x="-100"
                         data-y="375"
                         data-hoffset="0"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <a type="button" class="btn btn-default">Learn More</a>
                    </div>
                    <div class="caption skewfromright skewtoright"
                         data-x="right"
                         data-y="130"
                         data-hoffset="176"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <div class="tools"><img src="images/slider/construction_tools.png" alt="brifcase"></div>
                    </div>
                </li>
                <!-- SLIDE 3 -->
                <li data-transition="boxslide" data-slotamount="7">
                    <img src="images/slider/slide3.png" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <div class="caption sfr str"
                         data-x="-100"
                         data-y="135"
                         data-speed="700"
                         data-start="1700"
                         data-easing="easeOutBack">
                        <h3><strong>Construction</strong> use</h3>
                    </div>
                    <div class="caption sfl stl"
                         data-x="-100"
                         data-y="190"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <h4>Built with <strong>Construction</strong></h4>
                    </div>
                    <div class="caption skewfromleft skewtoleft"
                         data-x="-100"
                         data-y="265"
                         data-hoffset="-176"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravi-<br>da nibh vel velit auctor aliquet. Aenean solicitudin. lorem <br>quis bibendum auctor, nisi elit consequant.</p>
                    </div>
                    <div class="caption sfb stb"
                         data-x="-100"
                         data-y="375"
                         data-hoffset="0"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <a type="button" class="btn btn-default">Learn More</a>
                    </div>
                    <div class="caption skewfromright skewtoright"
                         data-x="right"
                         data-y="0"
                         data-hoffset="176"
                         data-speed="500"
                         data-start="1900"
                         data-easing="easeOutBack">
                        <div class="sketch"><img src="images/slider/sketch.png" alt="brifcase"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container sliderAfterTriangle"></div>
    <!--Triangle After Slider-->
</section>
 <!--Slider-->
<section id="nr_services" class="row">
    <div class="container">
        <div class="row sectionTitles">
            <h2 class="sectionTitle">Scope of Work</h2>
            <div class="sectionSubTitle">what we offer</div>
        </div>
        <div class="row m0 text-center">
            <!--left-section start of services start-->
            <div class="col-lg-3 col-md-offset-3 col-md-3 col-sm-6 col-xs-12 ">
                <div class="row m0 service">
                    <div class="m0 innerRow">
                        <div class="serviceName" data-hover="Construction Designs">
                            <a href="#"><img src="images/blog/blog3.png" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
                <!--left-button start-->
                <br />
                <div class="bo-bott"></div>
                <br />
                <br />
                <button type="button" class="btn btn btn-lg butt">Mechanical</button>
                <!--left-button end-->
            </div>
            <!--left-section start of services end-->
            <!--right-section start of services start-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="row m0 service">
                    <div class="m0 innerRow">
                        <div class="serviceName" data-hover="Fast Building"><a href="#"><img src="images/blog/blog3.png" class="img-responsive"></a></div>
                    </div>
                </div>
                <!--right-button start-->
                <br />
                <div class="bo-bott"></div>
                <br />
                <br />
                <button type="button" class="btn btn btn-lg butt">&nbsp;&nbsp;Electrical&nbsp;&nbsp;</button>
                <!--right-button end-->
            </div>
            <!--right-section start of services start-->
        </div>
    </div>
</section>
<!--Services-->
