<div id="pageloader" class="row m0">
    <div class="loader-item"><img src="~/images/loader.png" alt="loading"></div>
</div>
<link href="~/Scripts/bootstrap-switch.min.css" rel="stylesheet" />

<div data-ng-controller="HeaderFooterController">
    <section id="nr_topStrip" class="row">
        <div class="container">
            <div class="row">
                <ul class="list-inline pull-right c-info fleft">
                 <li><a href="~/Brochure.pdf" target="_blank"><i class="fa fa-download"></i> Download Brochure</a></li>
                      <li>
                        <input id="switch-onText" name="switch-onText" data-on-text="English" ng-model="LanguageID" data-ng-change="ChangeLanguage()"  type="checkbox" checked>
                    </li>
                    @*<li>
                        <select id="DDlLanguage" ng-model="LanguageID" data-ng-change="ChangeLanguage()">
                            <option value="3">English</option>
                            <option value="4">Arabic</option>
                        </select>
                    </li>*@
                    <li><a href="tel:123456789012"><i class="fa fa-phone"></i> +966 11 47 43 177</a></li>
                    <li><a href="mailto:info@domain.com"><i class="fa fa-envelope-o"></i> info@qic-sa.com</a></li>
                </ul>

            </div>
        </div>
    </section>
    <header class="row">
        <div class="container">
            <div class="row">
                <div class="logo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <a href="~/{{LanguageShort}}/QIC/Index"><img src="~/images/qic_logo.png" class="img-responsive"></a>
                    </div>

                </div>
                <div class="social_nav logo col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <ul class="list-inline fright">
                            <li><a href="https://www.facebook.com/profile.php?id=100009633790685"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/qicriyadh" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/100162612525807700029/posts" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header-->

    <nav class="navbar navbar navbar-static-top head-m">
        <div class="container-fluid container" data-ng-init="GetHeaderContent()">
            <div class="row m04m">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
                        <span class="bars">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span class="btn-text">Select Page</span>
                    </button>
                </div>
                <div class="collapse navbar-collapse pull-right col-xs-12" id="main_nav">
                    <ul class="nav navbar-nav">
                        <li class="active "><a href="~/{{LanguageShort}}/QIC/Index">@*Home*@ {{HeaderList[0].HeaderContent1}}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@*QIC*@ {{HeaderList[1].HeaderContent1}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/{{LanguageShort}}/QIC/Mission_Vision"> @*Mission & Vision*@{{HeaderList[2].HeaderContent1}}</a></li>
                                <li><a href="~/{{LanguageShort}}/QIC/GM_Manger"> @*GM Message*@{{HeaderList[3].HeaderContent1}}</a></li>
                                <li><a href="~/{{LanguageShort}}/QIC/Introduction"> @*Introduction*@{{HeaderList[4].HeaderContent1}}</a></li>
                                <li><a href="~/{{LanguageShort}}/QIC/Scope"> @*Scope of work*@{{HeaderList[5].HeaderContent1}}</a></li>
                                <li><a href="~/{{LanguageShort}}/QIC/CertificationRegistration"> @*Certification & Registration*@{{HeaderList[6].HeaderContent1}}</a></li>
                            </ul>
                        </li>
                        <li><a href="~/{{LanguageShort}}/QIC/Oraganization">@*Organization*@{{HeaderList[7].HeaderContent1}}</a></li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@*projects*@{{HeaderList[8].HeaderContent1}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/{{LanguageShort}}/QIC/AcomplishedWith">@*Accomplished with*@{{HeaderList[9].HeaderContent1}}</a></li>
                                <li><a href="~/{{LanguageShort}}/QIC/OnGoing">@*Ongoing*@{{HeaderList[10].HeaderContent1}}</a></li>
                            </ul>
                        </li>
                        <li><a href="~/{{LanguageShort}}/QIC/Career">@*Career*@{{HeaderList[11].HeaderContent1}}</a></li>
                        <li><a href="~/{{LanguageShort}}/QIC/ContactUs"> @*Contact Us*@{{HeaderList[12].HeaderContent1}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<script type="text/javascript">
    var basePath = '@System.Configuration.ConfigurationManager.AppSettings["BasePath"]'
    localStorage.setItem("basePath", basePath);
    
</script>